@use '../variables' as v;

.site-footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: v.$spacing-unit v.$spacing-unit v.$spacing-unit * 2;

    .logo {
        img {
            width: 100px;
            height: auto;
        }
    }

    .footer-content {
        display: flex;
        width: 100%;
        // flex-flow: row nowrap;
        flex-flow: column nowrap;
        // justify-content: space-between;
        justify-content: center;
        // align-items: flex-end;
        align-items: center;
        text-align: center;

        .footer-contact {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-bottom: v.$spacing-unit;
        }

        p, a {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border-color 0.3s ease;

            &:hover {
                border-color: white;
            }
        }
    }

    @media (min-width: v.$bp-tablet) {
        padding: v.$spacing-unit v.$spacing-unit * 3 v.$spacing-unit * 2;

        .footer-content {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
            text-align: left;

            .footer-contact {
                align-items: flex-start;
                margin-bottom:0;
            }
        }
    }
}